@model BlueBusiness.Models.ViewModel.BlogsViewModel
@using BlueBusiness.Extensions
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Blogs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Blogs.Title" class="control-label"></label>
                <input asp-for="Blogs.Title" class="form-control" />
                <span asp-validation-for="Blogs.Title" class="text-danger"></span>
            </div>

            <div class="form-group">

                <label asp-for="Blogs.Image" class="control-label"></label>
                <input type="file" name="files" class="form-control" />
                @*<span asp-validation-for="Blogs.Image" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Blogs.ViewTitle" class="control-label"></label>
                <input asp-for="Blogs.ViewTitle" class="form-control" />
                <span asp-validation-for="Blogs.ViewTitle" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Tags">Tags</label>
                <select class="form-control" asp-for="@Model.Blogs.TagsID" asp-items="Model.Tags.ToSelectListItem(Model.Blogs.TagsID)"></select>


                @*<label asp-for="TagsID" class="control-label"></label>
                <select asp-for="TagsID" class="form-control" asp-items="ViewBag.TagsID"></select>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
